.homepage-first-sect{
    position: relative;
}

.account{
  position: relative;
  text-align: right;
  margin-right: 15px;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  top: 10px;
  outline: none;
  text-transform: uppercase;
}
.logout-account{
  position: relative;
  text-align: right;
  margin-right: 15px;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  top: 10px;
  outline: none;
}

.homepage-links{
    display: flex;
    justify-content: flex-end;
    margin-top: 30 px;
}

.account:hover{
    background-color: white;
    color: black;
}

.main-bg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: fit-content;
    max-height: 755px;
    background: image_url("beer-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // bottom: 50px;
}

// .homepage-add-containers{
//     min-height: 755px;
// }

.masthead-img{
    display: flex;
    position: relative;
    max-width: 30%;
    // left: 960px;
    // top: 46px; 
    // margin-bottom: 56px;
    
}

.lastcall-logo{
    position: relative;
    display: flex;
    // justify-content: center;
    height: 355px;
    max-width: 20%;
    bottom: 20px;
    left: 120px;
}

.homepage-imgs{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.homepage-text{
    display: inline-block;
    position: relative;
    align-items: center;
    // text-align: center;
    margin-right: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 50;
    font-weight: 700;
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    bottom: 325px;
    left: 23%;
}

.home-h1-second{
    position: relative;
    display: flex;    
    justify-content: center;
    bottom: 20px;
}

.homepage-second-sect{
    // position: absolute;
    margin-top: 135px;
    min-height: 735px;
    
}

.homepage-cont{
   display: flex;
   flex-direction: column;
   
}