.homepage-first-sect{
    position: relative;
}

.account{
  position: relative;
  text-align: right;
  margin-right: 15px;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  top: 10px;
  outline: none;
  text-transform: uppercase;
}
.logout-account{
  position: relative;
  text-align: right;
  margin-right: 15px;
  padding: 15px 35px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  top: 10px;
  outline: none;
}

.homepage-links{
    display: flex;
    justify-content: flex-end;
    margin-top: 30 px;
}

.account:hover{
    background-color: white;
    color: black;
}

.main-bg{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    min-height: 775px;
    background: image_url("beer-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // bottom: 50px;
}


.masthead-img{
    display: flex;
    position: relative;
    max-width: 30%;
    // left: 960px;
    // top: 46px; 
    // margin-bottom: 56px;
    
}

.lastcall-logo{
    position: relative;
    display: flex;
    // justify-content: center;
    height: 355px;
    max-width: 20%;
    bottom: 20px;
    left: 120px;
}

.homepage-imgs{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.homepage-text{
    display: inline-block;
    position: relative;
    align-items: center;
    // text-align: center;
    margin-right: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 50;
    font-weight: 700;
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    bottom: 325px;
    left: 23%;
}

.home-h1-second{
    position: relative;
    display: flex;    
    justify-content: center;
    bottom: 20px;
}

input[type=search]{
    border: none;
    font-size: 1.5em;
    width: 100%;
}

.homepage-search-form{
    position: relative;
    display: flex;
    border: none;
    border-radius: 8px;
}

.search-btn{
    position: relative;
    display: flex;
    background-color: #FFCC00;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    text-align: center;
    display: block;
    padding: 12px 0;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.search-icon {
    display: flex;
    background-image: image_url("Search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.ratings-badges{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.ratings-imgs{
   display: flex;
    background-image: image_url("ratings.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 270px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.badges-imgs{
    display: flex;
    background-image: image_url("badges.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 270px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.ratings-badges-bold-txt{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.ratings-badges-plain-txt{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    box-sizing: inherit;
    margin-top: -20px;
}



