.nycmap{
    background: image_url("nyc_map.png");
    padding-top: 60px;
    // opacity: 10%;
    // background: linear-gradient(rgba(251,251,251,.7), #fbfbfb 80%),url("nyc_map.png");
    // background-image: linear-gradient(rgba(251,251,251,0.7), rgb(251,251,251) 80%), url("nyc_map.png");
}

.phone-map{
    display: flex;
    background-image: image_url("phone-map.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 34.375em;
    margin: 0.5em;
    padding-right: 0.3125em;
    // right: -17.1875em;
      
}

.short-rule{
    background: #ffc000;
    height: 4px;
    margin: 30px 0;
    width: 50px;
}

.explore-bars-h2{
    line-height: 1em;
    font-weight: 700;
    font-size: 2.5rem;
}

.phone-map-table{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    // justify-content: center;
}

.explore-bars{
    position: relative;
    display: flex;
    flex-direction: column;
    // vertical-align: middle;
    top: 50%;

    // width: 40%;
    // margin-top: -40px;
}

.explore-bars-p{
    font-size: 40.8px;
    margin-block-start: -0.83em;
    margin-block-end: 0.83em;
}

.explore-p{
    margin-block-start: -0.83em;
    margin-block-end: 0.83em;
}

.space-out{
    padding: 10px;
}