
input[type=search]{
    border: none;
    font-size: 1.5em;
    width: 100%;
}

.homepage-search-form{
    position: relative;
    display: flex;
    border: none;
    border-radius: 8px;
}

.search-btn{
    position: relative;
    display: flex;
    background-color: #FFCC00;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    text-align: center;
    display: block;
    padding: 12px 0;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.search-icon {
    display: flex;
    background-image: image_url("Search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.ratings-badges{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.ratings-imgs{
   display: flex;
    background-image: image_url("ratings.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 270px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.badges-imgs{
    display: flex;
    background-image: image_url("badges.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 270px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px
}

.ratings-badges-bold-txt{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.ratings-badges-plain-txt{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    box-sizing: inherit;
    margin-top: -20px;
}


