.show-top {
  display: flex;
  margin-bottom: 10px;
}


.show-img {
  height: 97px;
  width: 97px;
}

.show-bottom{
    border-top: 1px solid #E2E2E2;
}

.show-top-description{
  display:flex
}

.show-main{
  display: flex;
  flex-direction: column;
}

.brewery-show-sect{
  display:flex;
  flex-direction: column;
}
