.beer-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.beer-form-outer {
  width: 30%;
  margin: auto;
  background-color: #FFFFFF;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  min-width: 425px;
  padding: 32px;
  height: fit-content;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  font-family: sans-serif; 
  min-height: 1750px;
}

.beer-inputs{
    padding: 15px 0 0 0;
    font-size: 14px;
    color: #999999;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-text{
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .beer-inputs {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.beer-name, .beer-style, .beer-descriptions {
  position: relative;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.input-text:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #e7e557;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #f3ef16,#e9fa03);
  border-image-slice: 1;
}
/* reset input */
.input-text{
  &:required,&:invalid { box-shadow:none; }
}

.input-text{
  padding: 5px;
  border-radius: 4px;
}
