.beer-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.beer-form-outer {
  width: 30%;
  margin: auto;
  background-color: #FFFFFF;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  min-width: 425px;
  padding: 32px;
  height: fit-content;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  font-family: 'Arvo', serif; // did this work without needin it? since no internet for google font
}

.beer-inputs{
    padding: 15px;
    font-size: 14px;
    color: #999999;
    
}